/* App.css */
/* Header */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background-color: #37517e;
  padding: 0 30px;
  width: 100%;
  position: fixed;
  z-index: 99;
  /* background: #37517e; */
}

nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
}

.logo {
  display: flex;
  justify-content: flex-start;

}

.logo img {
  max-height: 110px;
  object-fit: contain;
}

.wrapper .nav-links {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.nav-links li {
  list-style: none;
}

.nav-links li a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 15px;
  transition: all 0.3s ease;
}

.active-nav-item {
  font-weight: bold !important;
  border-bottom: 2px solid #f2f2f2;
}

.nav-links li a:hover {
  transition: all 0.3s ease;
  top: 70px;
  opacity: 1;
  visibility: visible;
  border-radius: 5px;
  background: #4668a2;
}

/* Hamburger menu styles */
.nav-toggle {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 100;
}

/* Hamburger icon */
.hamburger {
  width: 25px;
  height: 2px;
  background-color: #f2f2f2;
  position: relative;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: #f2f2f2;
  transition: all 0.3s ease;
}

.hamburger::before {
  top: -8px;
}

.hamburger::after {
  top: 8px;
}

*/ footer {
  background-color: #f1f1f1;
  padding: 10px;
}

/* Main container */
.app-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  text-align: center;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: 70px auto 0 auto;
  padding: 20px;
}

button {
  cursor: pointer;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 5px;
}

/* Searching box without button */
.search-input {
  padding: 8px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}

/* Search Container */
.search-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

/* Input Field Styling */
.search-container input {
  padding: 8px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Reset Button Styling */
.search-container button {
  padding: 8px 15px;
  border: none;
  background-color: #37517e;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.search-container button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.search-container button:hover:not(:disabled) {
  background-color: #4668a2;
}

/* Table.css */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  margin-bottom: 20px;
}

.table-header {
  background-color: #37517e;
  color: white;
}

th,
td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.pagination span {
  margin: 0 5px;
  flex-shrink: 0;
  padding: 10px;
  text-align: center;
}

.paginationBttns {
  margin: 0 5px;
  padding: 10px 15px;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: white;
  color: #37517e;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.forwardBacwardBttns {
  margin: 0 5px;
  padding: 10px 15px;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: white;
  color: #37517e;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.paginationBttns:hover {
  background-color: #e0e0e0;
  color: #47b2e4;
}

.paginationActive {
  background-color: #37517e !important;
  color: white;
  border-color: #37517e;
  pointer-events: none;
  /* Disable clicking on the active button */
}

.forwardBacwardBttns:disabled {
  background-color: #e0e0e0;
  color: #999;
  cursor: not-allowed;
}

/* Footer */
.footer {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  position: relative;
  width: 100%;
}

/* Responsive Styling */
/* Mobile divices (up to 600px) */
@media only screen and (max-width: 600px) {
  nav {
    padding: 0 10px;
  }

  .logo img {
    max-width: 150px;
    height: auto;
  }

  .nav-toggle {
    display: block;
    padding: 10px;
  }

  .hamburger {
    width: 25px;
    height: 2px;
    background-color: #f2f2f2;
    position: relative;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #37517e;
    /* z-index: 99; */
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: translateY(-20px);
    opacity: 0;
  }

  .nav-links.nav-open {
    display: flex;
    transform: translateY(0);
    opacity: 1;
  }

  .nav-links li {
    padding: 15px 0;
    text-align: center;
  }

  .nav-open .hamburger {
    background-color: transparent;
  }

  .nav-open .hamburger::before {
    transform: rotate(45deg);
    top: 0;
  }

  .nav-open .hamburger::after {
    transform: rotate(-45deg);
    top: 0;
  }

  .main-content {
    padding: 10px;
  }

  table {
    width: 50%;
    font-size: 14px;
  }

  th,
  td {
    padding: 8px;
  }

  .pagination button {
    padding: 8px 5px;
    font-size: 12px;
  }
}

/* Tablets (600px - 768px) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .nav {
    flex: 1;
  }

  .nav-links {
    display: block;
    text-align: right;
  }

  .nav-links li {
    margin-bottom: 10px;
  }

  .logo {
    max-height: 40px;
  }

  table {
    width: 100%;
    font-size: 16px;
  }

  th,
  td {
    padding: 10px;
  }
}

/* Laptops and general monitors (768px - 1200px) */
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  table {
    width: 100%;
    font-size: 18px;
  }

  th,
  td {
    padding: 12px;
  }
}

/* Larger monitors (1200px and above) */
@media only screen and (min-width: 1200px) {
  nav .wrapper {
    max-width: 1200px;
    margin-right: 75px;
  }

  table {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 20px;
  }

  th,
  td {
    padding: 14px;
  }
}